<a href="https://colab.research.google.com/github/AyanChawla/Coursera_Capstone/blob/master/Neighbourhood_in_TorontoPart1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Capstone Project

Getting data from Wikipedia and preproccessing it.

In [0]:
from bs4 import BeautifulSoup as bsoup
from urllib.request import urlopen as uReq
import requests
import lxml
import pandas as pd
from pandas import DataFrame
import numpy as np

Using Requests module to get wikipedia page

In [0]:
r=requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')

Using bs4 to scrape the Data

In [0]:
results=bsoup(r.text,"html.parser")

In [4]:
type(results)

bs4.BeautifulSoup

From inspecting we get that it is inside the table element

In [0]:
table = results.table
table_rows=table.find_all('tr')

In [10]:
table_rows[0]

<tr>
<th>Postal Code
</th>
<th>Borough
</th>
<th>Neighborhood
</th></tr>

In [12]:
table_rows[0].text

'\nPostal Code\n\nBorough\n\nNeighborhood\n'

In [16]:
nrows=len(table_rows)
nrows

181

There are 181 rows

Lets make a DF

In [25]:
table_rows[10].text.split('\n')

['', 'M1B', '', 'Scarborough', '', 'Malvern / Rouge', '']

It shows that index 1 has Postal code, 3 has Borough and 5 has neighbourhood

In [26]:
rows=[]
n=1
while n < nrows :
    Postcode=table_rows[n].text.split('\n')[1]
    Borough=table_rows[n].text.split('\n')[3]
    Neighborhood=table_rows[n].text.split('\n')[5]
    rows.append((Postcode, Borough,Neighborhood))
    n=n+1

dataset=pd.DataFrame(rows, columns=['PostalCode', 'Borough', 'Neighbourhood'])
dataset.head(5)

  PostalCode           Borough               Neighbourhood
0        M1A      Not assigned
1        M2A      Not assigned
2        M3A        North York                   Parkwoods
3        M4A        North York            Victoria Village
4        M5A  Downtown Toronto  Regent Park / Harbourfront

In [27]:
dataset.shape

(180, 3)

It has 180 rows and 3 columns

In [28]:
dataset.Borough.value_counts()

Not assigned        77
North York          24
Downtown Toronto    19
Scarborough         17
Etobicoke           12
Central Toronto      9
West Toronto         6
East York            5
East Toronto         5
York                 5
Mississauga          1
Name: Borough, dtype: int64

Total 77 has not assigned so now we will delete 180-77=103

In [0]:
dataset.drop(dataset[dataset['Borough']=='Not assigned'].index,inplace=True)

In [46]:
dataset.Borough.value_counts()

North York          24
Downtown Toronto    19
Scarborough         17
Etobicoke           12
Central Toronto      9
West Toronto         6
East Toronto         5
East York            5
York                 5
Mississauga          1
Name: Borough, dtype: int64

It has deleted those

Now lets replace the neighbourhood column

In [0]:
dataset.loc[dataset['Neighbourhood'] == 'Not assigned', 'Neighbourhood'] = dataset['Borough']

In [48]:
dataset.head()

  PostalCode           Borough                                 Neighbourhood
2        M3A        North York                                     Parkwoods
3        M4A        North York                              Victoria Village
4        M5A  Downtown Toronto                    Regent Park / Harbourfront
5        M6A        North York             Lawrence Manor / Lawrence Heights
6        M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government

In [49]:
dataset.shape

(103, 3)

Now lets combine the neighbourhoods having same postal codes

In [52]:
dataset.PostalCode.value_counts().count()

103

It is already combined with it

In [53]:
dataset.shape

(103, 3)

End of part1